In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sna = pd.read_csv("Social_Network_Ads.csv")

In [3]:
sna.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
sna.is_null

AttributeError: 'DataFrame' object has no attribute 'is_null'

In [7]:
sna.shape

(400, 5)

In [9]:
x = sna.iloc[:,[2,3]].values
y = sna.iloc[:,4].values

In [11]:
x.shape

(400, 2)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [13]:
x_train.shape

(300, 2)

In [14]:
x_test.shape

(100, 2)

In [16]:
from sklearn.preprocessing import StandardScaler
st_x = StandardScaler()
x_train = st_x.fit_transform(x_train)
x_test = st_x.transform(x_test)

In [17]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [20]:
y_pred = classifier.predict(x_test)

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred,y_test)

In [22]:
cm

array([[65,  8],
       [ 3, 24]], dtype=int64)

In [25]:
y_test.shape

(100,)